@import url("https://fonts.googleapis.com/css2?family=Faustina&family=Libre+Baskerville&display=swap")

* {
    margin: 0;
    padding: 0;
    border: none;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Faustina', serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    color: #252525;
}

p{
    font-size: 160%;
}

/* Header and nav bar */

header{
    height: 6rem;
    font-size: 160%;
}

#logo{
    float: left;
    margin: 0 0 0 2rem;
}

#flag{
    height: 3.5rem;
    top: 2rem;
}

#title{
    font-size: 200%;
    margin: 0 0 2rem 2rem;
    display: inline;
}

header a{
    text-decoration: none;
}

#menu{
    font-size: 110%;
    letter-spacing: 0.2rem;
    direction: rtl;
    margin-top: 0;
}

#menu li{
    float: right;
    list-style-type: none;
    margin: 1.5rem 3rem 0 0;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 0.1rem solid #3a3a3a;
}

.active{
    border-bottom: 0.1rem solid #3a3a3a;
}

/* Hero image */

#heroimage{
    background: url('../images/mainbanner1.jpg') no-repeat center;
    height: 60rem;
    width: 100%;
    margin: 0;
}

/* Links section */

#links{
    width: 100%;
    overflow: hidden;
    margin: 5%;
    
}

.page-link{
    width: 45%;
    height: 240px;

    text-align: center;
    color: white;
}

.page-link > h2{
    color: white;
}

#link1, #link2, #link3, #link4{
    margin: 0 auto;
    display: inline-block;
}

#link1{
    background: url('../images/div1.jpg') center no-repeat;
    background-size: 100%;
}

#link2{
    background: url('../images/div2.jpg') center no-repeat;
    background-size: 100%;
}

#link3{
    background: url('../images/div3.webp') center no-repeat;
    background-size: 100%;
}

#link4{
    background: url('../images/div4.jpg') center no-repeat;
    background-size: 100%;
}

/* footer */

footer{
    height: 100px;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #3a3a3a;
}

.social-networks{
    text-align: center;
}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}