* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Faustina', serif;
    font-weight: 300;
    color: #3a3a3a;
}

h1, h2{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    color: #252525;
}

p{
    font-size: 160%;
}

/* Header */

header{
    height: 6rem;
    font-size: 160%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#flag{
    margin: 0 0.5rem 0 0.5rem;
}

#logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

#flag{
    height: 3.5rem;
}

header a{
    text-decoration: none;
}

/* Nav bar */

nav{
    display: flex;
    align-content: center;
}

.navbar-nav{
    display: flex;
    align-content: right;
}

.nav-link{
    margin-right: 2.6rem;
}
.active{
    text-decoration: underline;
}

.dropdown-menu{
    font-size: 90%;
}

/* Hero image */

#heroimage{
    background: url('../images/mainbanner500.jpg') no-repeat center;
    height: 50rem;
    width: 100%;
    margin: 0;
}

/* About section */

#about{
    display: block;
    margin: 1rem 5%;
}

#quote{
    display: block;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
}

#quoteattr{
    font-weight: bold;
    text-align: right;
    margin-right: 10rem;
}

#aboutbody{
    margin: 1rem;
}

/* Links section */

#links{
    overflow: hidden; 
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0.8rem 0.8rem;
}

.overflow{
    overflow: hidden;
    position: relative;

    transform: scale(1);
    transition: 0.3s;
}

.card-title{
    text-align: center;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px black;
    
    display: flex;
    justify-content: center;
}

.card p{
    color: white;
    font-size: 150%;
    text-shadow: 1px 1px black;
    margin: 5rem 2rem 0 2rem;
}

/* footer */

footer{
    height: 10rem;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #3a3a3a;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer i{
    font-size: 250%;
    color: #fff;
}

footer a{
    padding: 2%;
}

/* Media queries */

/* For larger screens 1200px and wider */

@media screen and (min-width: 1200px){
    .mobilenav{
        display: none;
    }

    #desktopnav{
        display: flex;
    }

    #links a{
        width: calc(100% * (1/4) - 3.2rem);
    }
}

/* Google fonts import */

@import url("https://fonts.googleapis.com/css2?family=Faustina&family=Libre+Baskerville&display=swap")